@import "partials/normalize"
@import "partials/mixins"
@import "partials/typography"

* 
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box 
	box-sizing: border-box

html
	background: $light

body 
	font-size: 16px
	margin: 0 auto
	color: $dark_gray
	background: $light

#main
	max-width: 62em
	margin: 0 auto
	background: $light

h2, h3
	@include jubuilat
	font-size: 1.1706em
	margin: 0.6em 0 0.6814em 0
	text-decoration: uppecase
	border-bottom: 2px solid $light_green

////////// HEADER ////////////////
header a.brand
	@include hellenic
	@include biggerText
	float: left
	margin: 0
	display: block
	text-transform: uppercase
	padding: 0
	

header a.brand:hover
	color: $dark_green

.headerCenter
	margin: 0 auto
	max-width: 62em

.navbar .nav
	float: right

.navbar .brand
	padding: 0
	margin: 0

#headerInfo, #footerInfo
	max-width: 62em
	margin: 0 auto
	overflow: hidden

#footerInfo
	color: $darker_green


#footerRight
	width: 30%
	float: right

header ul.nav
	a, a:visited
		font-size: 1em
		color: $dark_gray
		text-shadow: #fff 1px 1px 0
		margin: 0

	a:hover, a:active
		background: none
		color: $darker_green !important


///////////// FOOOTER ///////////////

.navbar-fixed-bottom
	background: $dark_green


#pagefooter
	clear: both
	padding: 1.5em 0
	border-bottom: 10px solid $light_green

	p
		color: $darker_green

////////////// MAIN CONTENT ///////////////

#main_content
	margin: 0 0 1.5em 0
	overflow: hidden

section
	display: block
	width: 100%

	img
		border: 10px solid $light_green
		float: left
		max-width: 100%

.left_side
	float: left
	width: 60%
	padding: 0 2% 0 0

	p
		margin: 0.75em 0

.right_side 
	float: right
	width: 40%
	padding: 0 0 0 2%

	form
		input
			width: 100%

.pull-left
	float: none
	margin: 0.75em 0 0

.navbar-search .search-query
	margin-bottom: 0
	padding: 15px 14px

#search_area
	border-bottom: 1px solid $gray
	margin: 0 0 1.5em 0
	padding: 0 0 0.75em 0


td label
	font-size: 1em
	line-height: 1.5em
	margin: 0
	font-weight: bold

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"],input[type="tel"], input[type="color"], .uneditable-input
	padding: 0 5px
	color: $dark_gray
	line-height: 1.5em
	height: 3em
	-webkit-border-radius: 15px
	-moz-border-radius: 15px
	border-radius: 15px

button, input[type="button"], input[type="reset"], input[type="submit"]
	background: $light_green

@media only screen and (min-width: 320px) and (max-width: 650px)
	ul.nav
		a, a:visited
			font-size: 1em
			color: $dark_gray
			text-shadow: #fff 1px 1px 0

		a:hover, a:active
			color: $darker_green
			background: $light_green

@media only screen and (min-width: 320px) and (max-width: 767px)
	.left_side
		float: none
		width: 100%

	.right_side
		float: none
		width: 100%

@media only screen and (min-width: 767px)
	.left_side
		float: left
	.right_side 
		float: right

	
