<section id="main">
	<h2>Register</h2>
		<%= form_for @user, :url => account_path do |f| %>
		  <% if @user.errors %>
		    <%= @user.errors.inspect %><br />
		  <% end %>
		  <%= render :partial => "form", :object => f %>
		  <%= f.submit "Register" %>
		<% end %>
</section>