<body role="main">
  <header><header>
    <section id="intro"> 
      <%= image_tag("food_web.jpg") %>
      <p>Have you ever had the thought of helping others but didn't know where to start? Helping hand is your answer. We are a web based application pairing those in need with those who are wishing to help. For those wanting to find where in their area they may be of need, our application provides a list of current opportunities and the amount of individuals needed.</p>
    </section>
  <footer>FOOTER</footer>
</body>
