<!DOCTYPE html>
<html>
<head>
  <title>Helping Hand</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body role="main">
  <header>HEADER<header>
  <footer>FOOTER</footer>
</body>
</html>
