<body>
  <h1>Welcome to Helping Hand</h1>
  <h2>Sponsor</h2>
  <p>Name</p>
  <p>Website</p>
  <p>Rating</p>
  <p>Description</p>
  <p>Age</p>
  <%= if @owner
    @owner
    end
  %>

  <ul class="nav nav-tabs">
      <li class="active"><a href="#">User</a></li>
      <li><a href="#">Sponsor</a>
      </li>
  </ul>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</body>
