<div class = "opportunity-list-score">
  <%= opportunity.score %>
</div>
<div class = "opportunity-list">
  <h6><%= opportunity.name %></h6>
    <p><%= opportunity.description %></p>
  <h><%= opportunity.owner_id %></h>
  <ul>
    <li>opportunity.location.name</li>
    <li>opportunity.location.addr</li>
  </ul>
  <ul>
    <li>opportunity.event_start</li>
    <li>opportunity.event_end</li>
  </ul>
</div>
